**/LocalChapter/Assets/*

**/noc/Candidate_photopath/*
**/noc/Certificateimages/*
**/noc/Certificateimages1/*
**/noc/E_Certificate/*
**/noc/TA_Images/*
**/noc/TA_cert/*

**/noc/certificate_admin/certificates/*
**/noc/certificate_admin/missingcert/*
**/noc/certificate_admin/photo_old/*
**/noc/certificate_admin/sing/*
**/noc/certificate_admin/single/*
**/noc/certificate_admin/single_certificate/*
**/noc/certificate_admin/single_certification/*


**/noc/certificate_admin/*
**/noc/newprofile/noc/superadmin/assignment/php_errors.log
**/noc/newprofile/noc/superadmin/profile/php_errors.log
**/noc/nocprofile/*
**/noc/percentilecertificates/*
**/noc/php_errors.log
**/noc/social_cert/*
**/noc/newprofile/noc/docfiles/*
***/test/*
